*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    padding:8px;
}
.container{
    background-color: rgba(85, 83, 79, 0.075);
    padding: 5px 24px 15px 20px;
    border: 2
    px solid #ccc;
    border-radius: 5px;
}
input,select,textarea{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius:6px;
}
input[type="radio"]
{
    width:unset;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:6px;
}
h1{
    text-align:center;
}
input[type="submit"]
{
    font-size: 18px;
    background-color: rgb(46, 158, 102);
    color: white;
    cursor: pointer;
}
input[type="reset"]
{
    background-color: rgb(158, 68, 46);
    color: white;
    cursor: pointer;
}
input[type="reset"]:hover
{
    color: rgb(189, 71, 71);
    text-shadow:2px 3px 3px black;
}
input[type="submit"]:hover{
    color: rgb(46, 158, 102);
    text-shadow:2px 3px 3px black;
}